$primary: #5235E8;
$primary50: #F7F6FE;
$primary100: #EFEDFD;
$primary200: #E7E3FC;
$primary300: #DEDAFB;
$primary400: #D6D1FA;
$secondary: #DAF727;
$secondary50: #FDFFF5;
$secondary100: #FAFEEB;
$secondary200: #F8FEE1;
$secondary300: #F6FED8;
$secondary400: #F3FDCE;
$black: #0E0637;
$black500: #717184;
$black600: #545463;
$black700: #42424D;
$black800: #2F2F37;
$black900: #131316;
$white: #FFFFFF;
$white50: #F9F9FA;
$white100: #F4F4F6;
$white200: #E3E3E8;
$white300: #C8C8D0;
$white400: #9C9CAB;
