.card {
  width: 20%;
  padding: 0 10px;
  margin-bottom: 20px;
  @include _950 {
    width: 25%;
  }
  @include _590 {
    width: 50%;
  }
  &__link {
    text-decoration: none;
    color: inherit;
    text-align: center;
  }
  &__title {
    margin-bottom: 1.5rem;
    font-size: 6rem;
    color: $primary;
  }
  &__description {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: $black600;
  }
  &__more {
    color: $white400;
  }
}
