.footer {
  padding: 3rem 0;
  background-color: $white50;
  &__container {
    @extend %container;
  }
  &__nav {
    max-width: max-content;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    flex-direction: row;
    @include _590 {
      flex-direction: column;
    }
  }
  &__item {
    list-style-type: none;
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}
